[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "acousticTS"]
	path = acousticTS
	url = https://github.com/brandynlucca/acousticts
